body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
    color: #004d40;
}

header {
    background-color: #00796b;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav {
    margin: 10px 0;
    text-align: center;
}

nav a {
    color: #f57f17;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    color: #c6a700;
}

.container {
    width: 80%;
    margin: 0 auto;
}

section {
    margin-bottom: 20px;
}

.news-item {
    background: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
    color: #004d40;
}

footer {
    background-color: #ba5e08;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #f57f17;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #c6a700;
}

.img-responsive {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.botao_adocao {
    text-align: center;
    margin: 20px 0;
}

.botao_adocao ul {
    list-style-type: none;
    padding: 0;
}

.botao_adocao a {
    text-decoration: none;
    background-color: #f57f17;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
}

.botao_adocao a:hover {
    background-color: #c6a700;
}

.teste {
    max-width: 44%;
}

.teste2 {
    max-width: 25%;
}

.teste3 {
    max-width: 50%;
}

.teste4 {
    max-width: 35.5%;

}

.teste5 {
    max-width: 40%;
}